* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include styleText($color-black-0, $fs-0, $fw-normal);
    line-height: $line-height-0 ;
}

a {
    text-decoration: none !important;
    color: $color-black-light;
    &:hover {
        color: $color-black-light;
    }
}

button{
    &:focus {
        box-shadow: none !important;
    }
}